{% extends 'base.html.twig' %}

{% block title %}{{ 'profile_title_recipes_edit'|trans }}{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="row recipe-edit">
        <div class="col-sm">
            {{ render(controller('App\\Controller\\FormController::recipe', {'id': recipe.id })) }}
        </div>
    </div>
{% endblock %}

