<ul>
    {% for name, routeData in sidebarRoutes %}
        <li><a class="link link-black" href="{{ path(routeData['routeName'], routeData['routeParams']) }}">
                {{ name|trans }}
            </a>
        </li>
    {% endfor %}
</ul>


