
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/public_html/bundles/
/public_html/uploads/
/var/
/vendor/
###< symfony/framework-bundle ###
###> PHPStorm files
/.idea
###< PHPStorm files


###> liip/imagine-bundle ###
/public_html/media/cache/
###< liip/imagine-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
