{% if admin.isGranted('CHANGE_PASSWORD', object) and admin.hasRoute('changePassword') %}
    <a class="btn btn-sm btn-default"
       href="{{ admin.generateObjectUrl('changePassword', object) }}"><i
                class="fa fa-edit"></i>{{ 'action_changePassword'|trans }}</a>
{% endif %}